p {
  text-align: justify;
  color: black; }

h1 {
  color: black;
  text-align: center; }

h2 {
  color: blue; }

nav{
      color: #E85A46;
  }
h4 {
  color: darkcyan; }

a {
  padding-left: 20px; }

a:hover {
  color: blanchedalmond; }

th {
  background-color: black;
  color: white; }

footer {
  padding: 10px 10px 0 10px;
  margin-bottom: 0; }

.card-hotel {
  flex: 1 250px;
  margin-top: 25px;
  margin-bottom: 10px; }

.btn-hotel {
  width: 100%; }

.jumbotron {
  margin-top: 50px; }

.navi {
  padding: 10px; }

.navbar-brand {
  margin-right: 0px; }

.footer-icon {
  padding: 10px; }

.container {
  text-align: justify;
  height: auto;
  padding-bottom: 25px; }

.oi-star {
  color: #FBE506;
  font-size: 20px; }

.hotell {
  width: 200px;
  height: 200px; }

.oi-credit-card {
  color: #E85A46; }

.oi-person {
  font-size: 100px;
  width: 100px; }

.line {
  word-spacing: 10px; }

.dista {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #E85A46; }

.btn-link {
  text-align: center; }
