/*COLORES UTILIZANCO leSS*/
.container {
  background-color: #ffff00;
}
p {
  text-align: justify;
  color: #eb3434;
  font-size: 18px;
}
h1 {
  color: #56eb34;
  text-align: center;
}
h1.hola {
  margin-top: 50px;
  margin-bottom: 10px;
}
