/*COLORES UTILIZANCO leSS*/

@yellow:#ffff00;

@red:#eb3434;

@green:#56eb34;

.margenes(@top:50px, @bottom:0px){
  margin-top: @top;
  margin-bottom: @bottom;
}


.container{
  background-color: @yellow;
}

p {
  text-align: justify;
  color:@red;
  font-size: 18px;
 }

h1 {
  color: @green;
  text-align: center; 
 
  }

h1.hola{
  .margenes(50px, 10px)
}


 