$yellow:#ff7300;

$red:#6534eb;

$green:#10d12a;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-top: $bottom;
}

.container{
    background-color: $red;

}
.colo{
    background-color: $red;
}
p{
    text-align: justify;
    color:$green;
}

h1{
    color: $yellow;
    text-align: center;
}

h2{
    color:$yellow;
}

h4{
    color:darkcyan;
}

a{
    padding-left: 20px;
    
}
a:hover{
    color: blanchedalmond;
}
th{
    background-color: $red;
    color: white;
  
}

footer{
    padding: 10px 10px 0 10px;
    @include margenes(0px, 0px );   
    
}

.card-hotel{
    flex: 1 250px;
    @include margenes(25px, 10px ); 
    background-color: $green;
    
}
.btn-hotel{
    width: 100%;
}
.jumbotron{
    @include margenes(50px, 0px ); 
    background-color: $red;
}

.navi{
    padding: 10px;
    
}
.navbar-brand{
    margin-right: 0px;
}
.footer-icon{
    padding:10px;
}
.container{
    text-align: justify;
    height: auto;
    padding-bottom: 25px;
}
.oi-star{
    color: #FBE506;
    font-size: 20px;
}

.hotell{
    width: 200px;
    height: 200px;
}
.oi-credit-card{
    color:#E85A46;
}
.oi-person{
    font-size: 100px;
    width: 100px;
}
.line{
   
    word-spacing:10px;
}
.dista{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #E85A46;

}
.btn-link{
    text-align: center;
}