.container {
  background-color: #6534eb; }

.colo {
  background-color: #6534eb; }

p {
  text-align: justify;
  color: #10d12a; }

h1 {
  color: #003cff;
  text-align: center; }

h2 {
  color: #003cff; }

h4 {
  color: darkcyan; }

a {
  padding-left: 20px; }

a:hover {
  color: blanchedalmond; }

th {
  background-color: #6534eb;
  color: white; }

footer {
  padding: 10px 10px 0 10px;
  margin-top: 0px;
  margin-top: 0px; }

.card-hotel {
  flex: 1 250px;
  margin-top: 25px;
  margin-top: 10px;
  background-color: #10d12a; }

.btn-hotel {
  width: 100%; }

.jumbotron {
  margin-top: 50px;
  margin-top: 0px;
  background-color: #6534eb; }

.navi {
  padding: 10px; }

.navbar-brand {
  margin-right: 0px; }

.footer-icon {
  padding: 10px; }

.container {
  text-align: justify;
  height: auto;
  padding-bottom: 25px; }

.oi-star {
  color: #FBE506;
  font-size: 20px; }

.hotell {
  width: 200px;
  height: 200px; }

.oi-credit-card {
  color: #E85A46; }

.oi-person {
  font-size: 100px;
  width: 100px; }

.line {
  word-spacing: 10px; }

.dista {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #E85A46; }

.btn-link {
  text-align: center; }
